/**
 * @name Metro for Discord
 * @author Tako,AryToNeX ¨Naomie¨,PoorPockets McNewHold
 * @version 3.14.9G
 * @description The Metro theme for Discord, Edited for Glasscord by PoorPockets McNewhold at Miku#8342 719025580288245780 request
 * @source https://github.com/TakosThings/Metro-for-Discord
*/
/*################## Metro for Discord ####################
## License: CC-BY-NC-SA                                  ##
## Repo:    https://github.com/TakosThings               ##
####################### Third Party #######################
## hljs:    https://highlightjs.org                      ##
## icons8:  https://icons8.com                           ##
#########################################################*/
/*                 Start of user options                 ##
###########################################################
##     Check the repo wiki for help on this section      ##
## https://github.com/TakosThings/Metro-for-Discord/wiki ##
#########################################################*/
/* Accent Colour */
/* Must be provided in RGB format */
:root {
  --accent: 0, 120, 215;
  --link: 0, 120, 215;
  --voice: 0, 204, 106;
/* Here you can define properties for use with Glasscord. */

	/* Windows-specific properties */
	/* Blur mode. Available types: acrylic (strong blur), blurbehind (light blur), transparent */
	--glasscord-win-blur: blurbehind;

	/* macOS-specific properties */
	/* Vibrancy mode */
	--glasscord-macos-vibrancy: fullscreen-ui;

	/* Linux-specific properties */
	/* Should Glasscord send a request to your window compositor to blur behind Discord's window? */
	/* It currently supports KWin only */
	--glasscord-linux-blur: true;

	/* Discord-specific properties */
	/* Custom (forced) titlebar */
	/* native (default), windows, osx, linux (framed) */
	--glasscord-titlebar: windows;
}

/* Acrylic background */
/**
 * Some of these settings are advanced, and may degrade
 * performance on low-end machines. Consult the wiki before
 * making changes.
**/
/* Change the URL to your own background*/
.bg-h5JY_x,
.container-16j22k {
  background-image: transparent;
}

/* Blur filter */
/* Uncomment to ENABLE the blur filter if required */
/*.bg-h5JY_x::before,
.container-16j22k::before {
  /* backdrop-filter: blur(45px) saturate(125%); */
}

/* Disable scale transition when opening User Settings */
/* Uncomment to DISABLE the scale transition */
/*.layer-3QrUeG {
  /* transform: none !important; */
}
.theme-dark{
	--background-primary: transparent;
	--background-primary-alt: #36393ff0;
	--background-secondary: #2f313650;
	--background-secondary-chat: #2f3136a0;
	--background-secondary-alt: #292b2f00;
	--background-tertiary: #20222570;
	--background-logo: #36393fa0;
	--deprecated-card-bg: #36393f4c;
	--deprecated-store-bg: #36393f00;
	--background-attachments: #2f313640;
	--background-search-bar: #202225a0;
	--background-switcher: #2f3136ff;
	--background-chatbox: #20222550;
	--background-lights-out: #000;
	--background-pinned: #2f3136ff;
	--background-profile-expand: #2f3136ff;
	--background-emoji: #2f3136ff;
	--text-lights-out: #f0f0f0;
	--background-titlebar: #2f313650;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece,
.theme-dark .emojiPicker-3m1S-j .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}
.theme-dark .container-1D34oG {
  background-color: transparent;
}
.theme-dark .card-FDVird:before {
	background-color: #33363c90;
}
.theme-dark .codeRedemptionRedirect-1wVR4b {
	background-color: #2f313650;
	border-color: #20222550;
}
.theme-dark .pageWrapper-1PgVDX {
	background-color: transparent;
}
.premiumPromo-fVlLu- {
	background-color: var(--background-secondary-chat);
}
.platform-osx .scroller-2TZvBN {
  padding-top: 32px;
  -webkit-mask: linear-gradient(#0000, #fff 32px);
}
.typeMacOS-3EmCyP {
  background-color: transparent !important;
}
.recentMentionsPopout-3rCiI6,
.messagesPopoutWrap-1MQ1bW {
  max-height: calc(100vh - 72px) !important;
  min-height: calc(100vh - 72px);
  position: absolute;
  right: 0 !important;
  left: initial !important;
  margin-top: -8px;
  border-radius: 0;
  animation: 350ms cubic-bezier(0.19, 1, 0.22, 1) slideinright;
  background-color: var(--background-pinned)
}
.notice-2FJMB4 {
  background-color: var(--background-secondary) !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  line-height: 32px;
}
.theme-dark .contentWrapper-2txmjs {
  background-color: rgba(0, 0, 0, 0.36);
  border: 1px solid rgba(0, 0, 0, 0.36);
  border-radius: 4px;
}
.theme-dark .emojiPicker-3PwZFl {
  background-color: rgba(0, 0, 0, 0.36);
  border: 1px solid rgba(0, 0, 0, 0.36);
  border-radius: 4px;
}
.appMount-3lHmkl {
	background-color: transparent;
}
.app-2rEoOp {
	background-color: transparent;
}
.isUnread-3Ef-o9 {
	border-color: transparent !important;
}
.theme-dark .attachment-33OFj0 {
  max-width: 458px;
  height: 60px;
  position: relative;
  background-color: var(--background-attachments) !important;
  border: 0;
  border-radius: 0;
}
.privateChannels-1nO12o {
	background-color: transparent;
}
.theme-dark .root-SR8cQa {
  background-color:  var(--background-profile-expand);
  border: 1px solid rgba(0, 0, 0, 0.36);
  border-radius: 4px;
}
.inset-3sAvek {
	background-color: var(--background-secondary) !important;
}
.container-1r6BKw.themed-ANHk51 {
	background-color: var(--background-secondary);
}
.wrapper-1Rf91z {
	background-color: var(--background-secondary);
}
.childWrapper-anI2G9 {
	background-color: var(--background-logo);
}
.circleIconButton-jET_ig {
	background-color: var(--background-logo);
}
.searchBar-3dMhjb {
	background-color: var(--background-search-bar);
}
.container-PNkimc {
	background-color: transparent;
}
.channelName-1QajIf {
	background-color: transparent;
}
.searchResult-3pzFAB:before {
	background-image: none;
}
.searchResult-3pzFAB:after {
	background-image: none;
}
.perksModal-fSYqOq {
	background-color: transparent !important;
}
.ctaBar-2UsjF2 {
	background-color: var(--background-attachments) !important;
}
.tierBody-16Chc9 {
	background-color: var(--background-secondary-chat) !important;
}
.perk-2WeBWW {
	background-color: var(--background-attachments) !important;
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
	background-color: var(--background-search-bar);
}
.scroller-1JbKMe {
	background-color: transparent;
}
.scroller-2TZvBN {
	background-color: transparent;
}
.theme-dark .quickswitcher-3JagVE {
  background-color: var(--background-switcher);
  border: 1px solid rgba(0, 0, 0, 0.36);
  border-radius: 4px;
  color: white;
}
.wrapper-2aW0bm {
	background-color: var(--background-primary-alt);
}
.searchResultMessage-2VxO12.hit-NLlWXA {
	background-color: var(--background-primary-alt);
}
.scroller-zPkAnE {
	background-color: transparent;
}
.theme-dark .embed-IeVjo6.embedFull-2tM8-- {
  background-color: var(--background-attachments);
  border-left: 4px solid var(--background-attachments);
}
.panels-j1Uci_ {
	background-color: transparent;
}
.titleBar-AC4pGV {
	background-color: var(--background-titlebar);
}
.titleBar-AC4pGV {
	background-color: var(--background-titlebar);
}
.uploadArea-3QgLtW {
	background-color: var(--background-lights-out);
}
.backdrop-1wrmKB,
.backdropWithLayer-3_uhz4 {
  background-color: var(--background-lights-out) !important;
  opacity: 0.5 !important;
}
.backdrop-1wrmKB {
	background-color: var(--background-lights-out) !important;
}
.theme-dark .modal-3c3bKg .inner-1ilYF7 .imageWrapper-2p5ogY ~ .downloadLink-1ywL9o {
  color: var(--text-lights-out) !important;
  opacity: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.bg-AYqtMd {
	-webkit-mask-image: linear-gradient(#000f, #0000) !important;
}
.scrollableContainer-2NUZem {
	background-color: var(--background-chatbox);
}

/*#########################################################
##                  End of user options                  ##
#########################################################*/
